<template>
<div class="account">
    <img class="backgroundimg" src="../assets/landing_background2.jpg" />

    <div class="sidebar" v-if="sidebar==true" v-on:click="sidebar=!sidebar">
        <img src="../assets/logo.png" style="width:40%"/>
        <br>
        <h4>Hello {{user.username}}</h4>
        <br>
        <router-link :to="{ name: 'home'}">Orders</router-link>
        <br><br>
        <router-link :to="{ name: 'account'}"><strong>Account Setting</strong></router-link>
        <br><br><br>
        <a href="#" v-on:click="logoff" style="margin-top: 50px">LogOut</a>

    </div>

    <div class="top">
        <img class="openmenu" v-on:click="sidebar=!sidebar" src="../assets/menu.png"/>
    </div>

    <div class="content" v-on:click="sidebar=false">
        <div class="form-top">
            <p>Update Menu</p>
        </div>

        <div class="form-box">
            <div class="form-bottom form-inline form-menu" v-for="(m,i) in menu" >
                <form class="registration-form">
                    <table>
                        <tr>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model:placeholder="m.itemName" style="border: 0.5px solid black" disabled>
                        </tr>
                        <tr>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model:placeholder="m.price">
                        </tr>
                        <tr>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model:placeholder="m.description" style="height:60px">
                        </tr>
                        <tr>
                            <button variant="outline-success" type="submit" class="btn btn-outline-secondary btn-sm" v-on:click="removeMenu(i)"><img src="../assets/remove.png" /> Delete</button>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="form-bottom form-inline form-menu form-menu-new">
                <form @submit.prevent="addMenu" class="registration-form">
                    <table>
                        <tr>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Name" v-model="product.name" required>
                        </tr>
                        <tr>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Price" v-model="product.price" required>
                        </tr>
                        <tr>
                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Description" v-model="product.description">
                        </tr>
                        <tr>
                            <button class="btn btn-outline-secondary btn-sm" type="submit"><img src="../assets/edit.png"/> Add</button>
                        </tr>
                        <tr>
                            <td colspan="2"><h6 v-model="this.error" style="width:100%">{{error}}</h6></td>

                        </tr>
                    </table>
                </form>
            </div>

            <br>
            <div class="divider" style="border: 1px dashed grey; width:80%; margin:auto"></div>

            <div class="form-top">
                <br>
                <p>Update Account</p>
            </div>

            <div class="info">
                <table>
                    <tr>
                        <td style="width:30%">ABN</td>
                        <td style="width:100%"><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="abn"></td>
                    </tr>
                    <tr>
                        <td>Account Number</td>
                        <td><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="accountNumber"></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="address"></td>
                    </tr>
                    <tr>
                        <td>BSB</td>
                        <td><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="bsb"></td>
                    </tr>
                    <tr>
                        <td>Shop Name</td>
                        <td><input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="shopname"></td>
                    </tr>
                </table>
            </div>

            <br>
            <div class="divider" style="border: 1px dashed grey; width:80%; margin:auto"></div>

            <div class="form-top">
                <br>
                <p>Change Password</p>
            </div>

            <div class="changePassword">
                <table>
                    <tr>
                        <td style="width:30%">New Password</td>
                        <td style="width:100%"><input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="password1"></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td><input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0" v-model="password2"></td>
                    </tr>
                </table>

            </div>
        </div>


        <br>
        <div class="divider" style="border: 1px dashed grey; width:80%; margin:auto"></div>
        <br>
        <p v-model="this.feedback" style="color:red">{{feedback}}</p>
        <button variant="outline-success" class="btn btn-outline-dark" v-on:click="saveChanges">Save Changes</button>
    </div>

</div>

</template>

<script>
import gql from 'graphql-tag'

export default {
    name: 'Home',
    props: ['user'],
    data() {
        return {
            sidebar: false,
            product: {
                name: "",
                price: "",
                description: "",
            },
            error: "",
            feedback: "",
            menu: this.user.menu,
            abn: this.user.abn,
            accountNumber: this.user.accountNumber,
            address: this.user.address,
            bsb: this.user.bsb,
            shopname: this.user.name,
            password1: "",
            password2: "",
        }
    },
    methods: {
        logoff() {
            this.$emit("logoff");
        },
        addMenu() {
            this.product.name = this.product.name.toUpperCase();
            var i;
            for (i = 0; i < this.menu.length; i++) {
                if (this.menu[i].itemName === this.product.name) {
                    this.error = "Menu item exists";
                    this.product.name = "";
                    this.product.price = "";
                    this.product.description = "";
                    return;
                }
            }
            this.menu.push({
                itemName: this.product.name,
                price: this.product.price,
                description: this.product.description
            });

            this.error = "";
            console.log(this.menu);
            this.product.name = "";
            this.product.price = "";
            this.product.description = "";
        },
        removeMenu(i) {
            this.menu.splice(i,1);
        },
        changeMenu(name,price,des) {
            console.log(name,price,des);
        },
        saveChanges() {
            if (this.password1 != this.password2) {
                this.feedback = "Password does not match";
                return;
            }
            this.user.menu = this.menu;
            this.user.abn = this.abn;
            this.user.accountNumber = this.accountNumber;
            this.user.address = this.address;
            this.user.bsb = this.bsb;
            this.user.shopname = this.shopname;
            console.log("new pass");
            console.log(this.password1);
            this.$emit("updateInfo", this.user);
            this.feedback = "Changes Saved";
        }
    },
}
</script>

<style scoped>
h4 {
    color: white;
}
a {
    color: orange;
}
.account {
    text-align: center;
    width: 90%;
    margin: 5%;
    float: none;
}
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background: #373a47;
    display: inline-block;
}

.top {
    width: 100%;
    text-align: left;
}
.content {
    height: 100%;
    width: 90%;
    text-align: center;
    display: inline-block;
}
.openmenu {
    width: 3%;
}

.openmenu:hover {
	opacity: 0.6;
}


.backgroundimg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

.col-sm-5{
    padding: 3%
}

button {
    font-weight: bold;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black;
}

.form-disable {
    border-bottom: none;
    font-weight: bolder;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 3; /* Firefox */
}

.form-menu {
    width: 26%;
    margin: 1%;
    /* opacity: 0.8;
    background: #181009; */
    display: inline-block;
    float: none;
    border: 1px solid grey;
}

.form-menu input {
    border: 0.5px dashed black;
    font-size: 80%;
    height: 50%;
    margin: 10px;
    float: none;
    width: 90%;
}
.form-menu button {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 3%;
}
.form-menu img{
    width:20px;
    height:20px;
}
.form-menu table {
    width:100%;
    padding-right: 50px;
}

.form-menu-new {
    text-align:center;
    display: block;
    margin: auto;
}

.info table, .changePassword table {
    margin: auto;
    width: 70%;
    text-align: left;
}
.info input, .changePassword input {
    border: 0.5px dashed grey;
    font-size: 90%;
    height: 80%;
    margin: 5px;
}
.info table tr {
    padding: 5% auto;
}





</style>
