<template>
<b-nav tabs>
    <b-nav-item>Active</b-nav-item>
    <b-nav-item>Link</b-nav-item>
    <b-nav-item-dropdown id="nav7_ddown" v-bind:text="user.username" extra-toggle-classes="nav-link-custom" right>
        <b-dropdown-item>one</b-dropdown-item>
        <b-dropdown-item>two</b-dropdown-item>
        <b-dropdown-divider></b-dropdown-divider>
        <b-dropdown-item>three</b-dropdown-item>
    </b-nav-item-dropdown>
</b-nav>
</template>

<script>
export default {
    props: ['user']
}
</script>

<style lang="css">
</style>
