<template>
<div class="home">
    <img class="backgroundimg" src="../assets/landing_background2.jpg" />

    <div class="sidebar" v-if="sidebar==true" v-on:click="sidebar=!sidebar">
        <img src="../assets/logo.png" style="width:40%"/>
        <br>
        <h4>Hello {{user.username}}</h4>
        <br>
        <router-link :to="{ name: 'home'}"><strong>Orders</strong></router-link>
        <br><br>
        <router-link :to="{ name: 'account'}">Account Setting</router-link>
        <br><br><br>
        <a href="#" v-on:click="logoff" style="margin-top: 50px">LogOut</a>

    </div>

    <div class="top">
        <img class="openmenu" v-on:click="sidebar=!sidebar" src="../assets/menu.png"/>
    </div>

    <div class="content" v-on:click="sidebar=false">
        <div class="form-top">
            <p>Current Orders</p>
        </div>

        <div class="form-box">
            <div class="form-bottom form-inline form-menu" v-model="user" v-for="(m,i) in this.orders">
                <form class="registration-form" @submit.prevent="prepareOrder(i)">
                    <table>
                        <tr>
                            <td style="text-align:left"><em>&nbsp{{m.orderId}}</em></td>
                            <td></td>
                            <td style="text-align:right"><small><a href="#">...</a></small></td>
                        </tr>
                        <tr>
                            <td style="text-align:right"><small>NAME</small></td>
                            <td style=""></td>
                            <td style="text-align:left"><strong>{{m.customerUsername}}</strong></td>
                        </tr>
                        <tr>
                            <td style="text-align:right"><small>TIME</small></td>
                            <td style=""></td>
                            <td style="text-align:left"><strong>{{/\d+:\d+:\d+/.exec(m.time)[0]}}</strong></td>
                        </tr>
                        <tr>
                            <td style="text-align:right"><small>ORDERS:</small></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr v-for="o in m.menuOrder">
                            <td style="text-align:right">x1</td>
                            <td>&nbsp</td>
                            <td style="text-align:left"><strong>{{o}}</strong></td>
                        </tr>
                        <tr>
                            <td v-if="m.orderStatus.charAt(0) == 'R'" colspan="3"><button class="btn btn-danger btn-sm" type="submit">Start Preparing</button></td>
                            <td v-if="m.orderStatus.charAt(0) == 'P'" colspan="3"><button class="btn btn-warning btn-sm" type="submit">Finish Order</button></td>
                            <td v-if="m.orderStatus.charAt(0) == 'F'" colspan="3"><button class="btn btn-success btn-sm" type="submit">Collected</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

    </div>

</div>

</template>

<script>

export default {
    name: 'Home',
    props: ['user'],
    data() {
        return {
            sidebar: false,
            orders: this.user.orders
        }
    },
    methods: {
        logoff() {
            this.$emit("logoff");
        },
        prepareOrder(i) {
            if (this.orders[i].orderStatus.charAt(0) == 'P') {
                this.orders[i].orderStatus = 'Finish'
            } else if (this.orders[i].orderStatus.charAt(0) == 'R') {
                this.orders[i].orderStatus = 'Preparing'
            } else if (this.orders[i].orderStatus.charAt(0) == 'F') {
                this.orders[i].orderStatus = 'Collected'
            }
            console.log(this.orders)

            // TODO uodate order status
        }
    }
}
</script>

<style scoped>
h4 {
    color: white;
}
a {
    color: orange;
}
.home {
    text-align: center;
    width: 90%;
    margin: 5%;
    float: none;
}
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 20%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    background: #373a47;
    display: inline-block;
}

.top {
    width: 100%;
    text-align: left;
}
.content {
    height: 100%;
    width: 90%;
    text-align: center;
    display: inline-block;
}
.openmenu {
    width: 3%;
}

.openmenu:hover {
	opacity: 0.6;
}


.backgroundimg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

.col-sm-5{
    padding: 3%
}

button {
    font-weight: bold;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    color: black;
}

.form-disable {
    border-bottom: none;
    font-weight: bolder;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 3; /* Firefox */
}

.form-menu {
    width: 30%;
    margin: 1%;
    /* opacity: 0.8;
    background: #181009; */
    display: inline-block;
    float: none;
    border: 1px solid grey;
    overflow: auto;
    height: 200px
}

.form-menu input {
    border: 0.5px dashed black;
    font-size: 80%;
    height: 50%;
    margin: 10px;
    float: none;
    width: 90%;
}
.form-menu button {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 3%;
}
.form-menu img{
    width:20px;
    height:20px;
}
.form-menu table {
    width:100%;
    padding-right: 50px;
}

.form-menu-new {
    text-align:center;
    display: block;
    margin: auto;
}

.info table, .changePassword table {
    margin: auto;
    width: 70%;
    text-align: left;
}
.info input, .changePassword input {
    border: 0.5px dashed grey;
    font-size: 90%;
    height: 80%;
    margin: 5px;
}
.info table tr {
    padding: 5% auto;
}


</style>
