<template>
<div class="landing-page">

       <div class="inner-bg">
           <img src="../assets/logo.png" style="width:10%"/>
           <h1><strong>Expresso Barista</strong></h1>
            <br><br>
           <div class="container">
               <img class="backgroundimg" src="../assets/landing_background2.jpg" />
              <div class="row">
                <div class="col-sm-5">
                    <div class="form-box">

                        <div class="form-top">
                          <div class="form-top-left">
                            <h3>Login</h3>
                            <p>as a barista</p>
                          </div>

                        </div>

                        <div class="form-bottom">
                          <form @submit.prevent="loginForm" >
                             <div class="form-group">
                               <label class="sr-only">Username</label>
                                 <input v-model="login.username" type="text" placeholder="Username..." class="form-username form-control" required>
                               </div>
                               <div class="form-group">
                                 <label class="sr-only">Password</label>
                                 <input v-model="login.password" type="password" placeholder="Password..." class="form-password form-control" required>
                               </div>
                               <button variant="outline-success" type="submit" class="btn btn-outline-dark">Sign in</button>
                               <br>
                               <p>{{loginError}}</p>
                          </form>
                        </div>

                    </div>

                </div>

                <div class="col-sm-1 middle-border" style="border-right: 2px solid white"></div>
                <div class="col-sm-1" style="border-left: 2px solid white"></div>

                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">

                            <div class="form-top-left">
                                <h3>Sign up</h3>
                                <p>as a barista</p>
                            </div>

                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>

                        <div class="form-bottom">
                            <form @submit.prevent="registerForm" class="registration-form">

                                <div class="form-group">
                                    <label class="sr-only">username</label>
                                    <input type="text" v-model="register.username" placeholder="Username..." class="form-first-name form-control" required>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only">shop name</label>
                                    <input type="text" v-model="register.shopname" placeholder="Shop name..." class="form-first-name form-control" required>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" v-model="register.email" placeholder="Email..." class="form-email form-control" required>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only">Password</label>
                                    <input v-model="register.password" type="password" placeholder="Password..." class="form-password form-control" required>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only">Confirm Password</label>
                                    <input v-model="confirmPassword" type="password" placeholder="Confirm Password..." class="form-password form-control" required>
                                </div>
                                <br>
                                <p>{{registerError}}</p>

                               <button variant="outline-success" type="submit" class="btn btn-outline-dark">Continue Sign Up</button>
                            </form>
                        </div>
                    </div>

                </div>
               </div>

           </div>
       </div>

</div>

</template>

<script>
import { SEARCH_USER_BY_USERNAME_QUERY } from '../constants/graphql.js'
import {SEARCH_STORE} from '../constants/graphql.js'
import {SEARCH_ORDER} from '../constants/graphql.js'
import gql from 'graphql-tag'

export default {
    name: 'LandingPage',
    props: ['user'],
    data () {
        return {
            users: [],
            loginError : "",
            registerError: "",
            confirmPassword : "",
            login: {
                username: "",
                password: ""
            },
            register: {
                username: "",
                shopname: "",
                email: "",
                password: "",
            },
            username_query: "" // Used only to execute queries
        }

    },
    methods: {
        getOrders() {
            /* get orders */
            this.$apollo.queries.searchOrder.skip = false;
            this.$apollo.queries.searchOrder.refetch().then((result) => {
                this.user.orders = result.data.searchOrder;
                console.log("get order")
                console.log(this.user.orders)
                this.$emit("logged_in", this.user);
                this.$router.replace({name: "home"});
            }).catch((error) => {
                console.log(error)
            })


        },
        loginForm() {
            const { login } = this.$data
            /* Query for user, filtered by username */
            this.$data.username_query = this.login.username
            this.$apollo.queries.searchStore.skip = false
            this.$apollo.queries.searchStore
                .refetch()
                .then((result) => {
                    /* Authentication */
                    var queried_user = result.data.searchStore
                    if (queried_user.length == 0) {
                        // Username does not exists
                        this.loginError = "Username Incorrect";
                        return;

                    } else if (queried_user[0].user.password != this.login.password) {
                        // Wrong input password
                        this.loginError = "Wrong password";
                        return;

                    } else if (queried_user[0].user.userType != 'barista') {
                        // User is not a barista
                        this.loginError = "Please use the Expresso mobile for client login";
                        return;

                    } else {
                        // Successful Authentication
                        console.log("login success")
                        console.log(queried_user[0])
                        this.user.menu = queried_user[0].menu.menuList
                        this.user.name = queried_user[0].storeName
                        this.user.password = queried_user[0].user.password
                        this.user.username = queried_user[0].user.username
                        this.getOrders()
                    }
                })
                .catch((error) => {
                    console.log(error)
                })
        },
        registerForm() {

            if (this.confirmPassword != this.register.password) {
                this.registerError = "Password does not match";
                return;
            }
            const { register } = this.$data
            var user_exists = false

            /* Query for user filtered username */
            this.$data.username_query = this.register.username
            this.$apollo.queries.searchUsername.skip = false
            this.$apollo.queries.searchUsername
                .refetch()
                .then((result) => {

                    /* Ensure no duplicate username and email */
                    var queried_user = result.data.searchUsername

                    // TODO: implement duplicate email check
                    if (queried_user.length > 0) {

                        // Username already exists
                        this.registerError = "The username " + this.register.username + " is already taken. Please use a different username.";
                        return;

                    } else {

                        // Proceed to further registration
                        this.$emit("sign_up", this.register);
                        this.$router.replace({name: "register"});

                    }
                })
                .catch((error) => {
                    console.log(error)
                })

        }
    },
    apollo: {
        /* Queries users and filters by username given in username_query */
        searchUsername: {
            query: SEARCH_USER_BY_USERNAME_QUERY,
            variables() {
                return {
                    filter:
                        "username = '"
                        + this.$data.username_query
                        + "'"
                }
            },
            // Disable the query
            skip() {
                return true;
            }
        },
        searchStore: {
            query: SEARCH_STORE,
            variables() {
                return {
                    filter: "user.username = '"+this.login.username+"'"
                }
            },
            skip() {
                return true;
            }
        },
        searchOrder: {
            query: SEARCH_ORDER,
            variables() {
                return {
                    filter: "baristaUsername = '"+this.login.username+"'"
                }
            },
            skip() {
                return true;
            }
        }
    }
}

</script>

<style scoped>

* {
    font-weight: bold;
}

h1 {
    text-shadow: 2px 2px 2px white;
    color: #49311c
}

h1, h3, p {
    text-shadow: 2px 2px 2px white;
    color: #49311c
}

.backgroundimg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

.col-sm-5{
    padding: 3%
}

button {
    font-weight: bold;
    color: black;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #7a5230;
    color: black;
    text-shadow: 2px 2px 2px white;
    font-size: 110%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7a5230;
    opacity: 3; /* Firefox */
    text-shadow: none;
}


</style>
