<template>
<div class="register-page">
       <div class="inner-bg">
           <img src="../assets/logo.png" style="width:10%"/>
           <h1><strong>Expresso Barista</strong></h1>
            <br><br>
           <div class="container">
               <img class="backgroundimg" src="../assets/landing_background2.jpg" />
              <div class="row">
                <div class="col-sm-5">
                    <div class="form-box">

                        <div class="form-top">
                          <div class="form-top-left">
                            <h3>Sign Up</h3>
                          </div>

                        </div>

                        <div class="form-bottom">
                          <form @submit.prevent="registerForm" >

                            <div class="form-group" style="text-align: left">
                                <label class="sr-only" for="disabledTextInput">Username</label>
                                    <h6>Username</h6>
                                    <input type="text" v-bind:value="user.username" class="form-username form-control form-disable" id="form-username" disabled="disabled">
                            </div>

                            <div class="form-group" style="text-align: left">
                                <label class="sr-only" for="disabledTextInput">Email</label>
                                    <h6>Email</h6>
                                    <input type="text" v-bind:value="user.email" class="form-username form-control form-disable" id="form-username" disabled="disabled">
                            </div>

                            <div class="form-group" style="text-align: left">
                                <h6>Shop Name</h6>
                                    <input type="text" v-bind:value="user.shopname" placeholder="" class="form-username form-control" id="form-username">
                            </div>

                            <div class="form-group" style="text-align: left">
                                <h6>Shop Address</h6>
                                    <input type="text" v-model:value="address" placeholder="" class="form-username form-control" id="form-username">
                            </div>

                            <div class="form-group" style="text-align: left">
                                <h6>BSB</h6>
                                    <input type="text" v-model:value="bsb" placeholder="" class="form-username form-control" id="form-username">
                            </div>

                            <div class="form-group" style="text-align: left">
                                <h6>Account Number</h6>
                                    <input type="text" v-model:value="accountNumber" placeholder="" class="form-username form-control" id="form-username">
                            </div>

                            <div class="form-group" style="text-align: left">
                                <h6>ABN</h6>
                                    <input type="text" v-model:value="abn" placeholder="" class="form-username form-control" id="form-username">
                            </div>

                               <button variant="outline-success" type="submit" class="btn btn-outline-dark">Register Shop</button>
                          </form>
                        </div>

                    </div>

                </div>

                <div class="col-sm-1 middle-border" style="border-right: 2px solid white"></div>
                <div class="col-sm-1" style="border-left: 2px solid white"></div>

                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">

                            <div class="form-top-left">
                                <h3>Create Menu</h3>
                            </div>

                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>

                        <div class="form-bottom form-inline form-menu added" v-for="(m,i) in this.menu">
                            <form @submit.prevent="removeMenu(i)" class="registration-form">
                                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" style="width:40%" v-model="m.itemName" disabled="disabled">
                                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" style="width:20%" v-model="m.price" disabled="disabled">
                                <button variant="outline-success" type="submit" class="btn btn-outline-dark btn-sm">Remove</button>
                                <br>
                            </form>
                        </div>


                        <div class="form-bottom form-inline form-menu">
                            <form @submit.prevent="addMenu" class="registration-form" style="text-align: center">
                                <select type="text" class="form-control" name="Name" style="width:45%" v-model="product.itemName" required>
                                    <option value="CAPPUCINO" selected>CAPPUCINO</option>
                                    <option value="ESPRESSO">ESPRESSO</option>
                                    <option value="MACCHIATO">MACCHIATO</option>
                                    <option value="MOCHA">MOCHA</option>
                                    <option value="LATTE">LATTE</option>
                                    <option value="FLAT WHITE">FLAT WHITE</option>
                                    <option value="LONG BLACK">LONG BLACK</option>
                                </select>
                                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Price" style="width:30%" v-model="product.price" required>
                                <button variant="outline-success" type="submit" class="btn btn-outline-dark btn-sm" style="width:13%">Add</button>
                                <br>
                            </form>
                        </div>
                        <h6 v-model="this.error">{{error}}</h6>
                    </div>

                </div>
               </div>

           </div>
       </div>

</div>

</template>

<script>
import { ADD_BARISTA_MUTATION } from '../constants/graphql.js'

export default {
    name: 'Register',
    props: ['user'],
    data () {
        return {
            address: "",
            bsb: "",
            accountNumber: "",
            abn: "",
            product: {
                itemName: "",
                price: "",
                description: "",
            },
            error: "",
            menu: [],
        }

    },
    methods: {
        registerForm() {
            this.user.address       = this.address;
            this.user.bsb           = this.bsb;
            this.user.accountNumber = this.accountNumber;
            this.user.abn           = this.abn;
            this.user.menu          = this.menu;

            //registers the user to the db
            this.$emit("register",this.user);
            this.$router.replace({name: "home"});

            /* Validity check: unique ABN */
            // TODO: Implement unique ABN check

        },
        addMenu() {
            this.product.itemName = this.product.itemName.toUpperCase();

            /* Validity check: menu item already exists */
            for (var i = 0; i < this.menu.length; i++) {
                if (this.menu[i].itemName === this.product.itemName) {
                    this.error = "Menu item exists";
                    this.product.itemName = "";
                    this.product.price = "";
                    this.product.description = "";
                    return;
                }
            }

            /* Adding menu item to menu */
            this.menu.push({
                itemName:    this.product.itemName,
                price:       this.product.price,
                description: this.product.description
            });

            /* Clear field */
            this.error = "";
            this.product.itemName = "";
            this.product.price = "";
            this.product.description = "";
        },
        removeMenu(i) {
            this.menu.splice(i,1);
        }
    },
}
</script>

<style scoped>

* {
    font-weight: bold;
}

h1 {
    text-shadow: 2px 2px 2px white;
    color: black
}
h1, h3, h5, h6, p {
    text-shadow: 2px 2px 2px white;
    color: #7a5230
}

h6 {
    font-weight: bold;
    color: #7a5230;
}
.register-page{
    padding: 0 10%
}
.backgroundimg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: -1;
}

.col-sm-5{
    padding: 3%
}

button {
    font-weight: bold;
}

.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid grey;
    color: black;
}

.form-disable {
    border-bottom: none;
    font-weight: bolder;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7a5230;
    opacity: 5; /* Firefox */
}

.form-menu {
    border: 0.5px dashed #7a5230;
    padding: 3%;
    width: 100%;
    height: 20%;
    margin: 5%;
    text-shadow: 0 0 0 black
}

.form-menu input {
    border: 1px dashed #7a5230;
    font-size: 80%;
    height: 30px;
    margin: 10px 5px;
    float: center;
    color: black;
    vertical-align: top;
}
.form-menu select {
    border: 1px dashed #7a5230;
    height: 30px;
    margin: 10px 5px;
    vertical-align: top;
    float: center;
    color: black;
}
.form-menu button {
    float: center;
    height: 30px;
    vertical-align: top;
    margin: 10px 5px;
}

.added input {
    border: 1px solid #7a5230;
}
.added {
    border: 0px solid #7a5230;
}


</style>
