<template>
<div id="app">

    <router-view    @logged_in="setLogin"
                    @sign_up="setSignUp"
                    @register="setRegister"
                    @logoff="logout"
                    @updateInfo="updateInfo"
                    v-bind:user="user">
    </router-view>

 </div>
</template>


<script>
import gql from 'graphql-tag'
import {ADD_BARISTA_MUTATION} from './constants/graphql.js'
import {SEARCH_STORE} from './constants/graphql.js'


export default {
    name: 'app',
    data () {
        return {
            logged_in: false,
            sign_up: false,
            user: {},
        }
    },
    methods: {
        logout() {
            this.logged_in = false;
            this.sign_up = false;
            this.user = {};
            this.$router.replace({name: "login"});
        },
        setLogin(data) {
            this.logged_in = true;
            this.user = data;
            console.log(this.user);
        },
        setSignUp(data) {
            this.logged_in = true;
            this.user = data;
        },
        setRegister(user) {
            this.sign_up = true;
            this.user = user;
            console.log("registered");

            this.$apollo.mutate({
                mutation: ADD_BARISTA_MUTATION,
                variables: {
                    username: this.user.username,
                    shopname: this.user.shopname,
                    name:     this.user.name,
                    email:    this.user.email,
                    password: this.user.password,
                    menu:     this.user.menu
                }
            }).then(response =>{
                console.log("ADD_BARISTA_MUTATION")
                console.log(response)
            })
        },
        updateInfo(data) {
            console.log("updateInfo");
            this.user = data;
        }
    },

    mounted() {
        if (this.logged_in == false) {
            this.$router.replace({name: "login"});
        } else if (this.logged_in == true && (this.$route.path == "/login" || this.$route.path == "/register")) {
            this.$router.replace({name: "home"});
        }
        console.log("lllllllllllllogin:", this.logged_in);
    },
    beforeUpdate() {
        if (this.logged_in == false) {
            this.$router.replace({name: "login"});

        } else if (this.logged_in == true && this.sign_up == true && (this.$route.path == "/login" || this.$route.path == "/register")) {
            this.$router.replace({name: "home"});
        }
    },

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
